.layout-menu {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20;
}

.layout-footer {
    background-color: #d9d9d9;
}

.layout-topbar{
    border-radius: 1px solid black;
    background-color: #d9d9d9;
    border: solid black 2px;
}

.layout-wrapper{
    background-color:  rgb(233, 230, 227);
}

.layout-sidebar{
    background-color: white;
    padding-top:20px
}
